# See http://help.github.com/ignore-files/ for more about ignoring files.

data/
out/
PhelGenerated/
var/
vendor/
!PhelGenerated/.gitkeep
*.cache
.phel-repl-history
phel-config-local.php
composer.lock
gacela*.php

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

#System Files
.DS_Store
Thumbs.db
